.wrapper {
    display: flex;
    padding: 1.5rem;
    justify-content: space-between;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.wrapper:hover {
    scale: 1.05;
}

.link {
    text-decoration: none;
    color: black;
}